{# {% set id =  random() %} #}

<div class="draggable" id="{{ order.order_id }}" tabindex="0">

    <div class="border-bottom border-4 rounded-4"
         style="background-color: {{ color }}; border-color: {{ color }} !important;"
    >

        <div class="card bg-light-primary rounded-4">

            <div class="card-body d-flex justify-content-between small p-2">

                <div class="d-flex flex-column justify-content-between gap-2 offcanvas-link"
                     data-href='{{ path('orders-order:admin.detail', { id : order.order_id }) }}'
                     data-id='{{ order.order_id }}'
                        {#                        data-bs-toggle="offcanvas" #}
                        {#                        data-bs-target="#offcanvas{{ order.order_id }}" #}
                        {#                        title="offcanvas{{ order.order_id }}" #}
                     style="cursor: help"
                >

                    <div class="small d-flex justify-content-between gap-2 lh-1">

                        #{{ order.order_number }}

                        {% if order.order_profile_discount %}
                            <div class="small badge bg-danger rounded-1">-{{ order.order_profile_discount }}%</div>
                        {% endif %}

                    </div>
                    {% set dedline = date(order.modify) %}
                    {% set difference = dedline.diff(date("now")) %}
                    {% set day = difference.days ?: null %}
                    {% set hour = difference.h ?: null %}

                    <div class="small">

                        <span class="small text-muted ">{{ order.order_created|date('d.m.Y') }} | </span>
                        <strong
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                data-bs-delay='{"show":600,"hide":100}'
                                title="Последнее движение по заказу"
                                class="small {{ day ? 'text-danger' : 'text-success' }}">
                            {{ day ? day~' д. ' }}{{ hour ? hour~' ч. ' }}{{ day and hour is not null ? null : difference.i~' м.' }}
                        </strong>


                    </div>


                    <span class="fw-bolder d-flex justify-content-between align-items-center">

						{% set arr_price = order.product_price|json_decode %}

                        {% set price = 0 %}

                        {% for order_price in arr_price %}
                            {% set price = order_price.price * order_price.total + price %}
                        {% endfor %}

                        {# {% set price = order.order_price %} #}

                        {% if order.order_profile_discount %}
                            {% set price = price - (price / 100 * order.order_profile_discount) %}
                        {% endif %}

                        {#  Прибавляем стомиость доставки  #}
                        {# {% set price = price + order.delivery_price %} #}

							<span class='h5 mb-0'>{{ money(price, order.order_currency) }}</span>

                        {# Стоимость доставки #}
                             {% if order.delivery_price %}
                                 <span class="position-absolute small text-nowrap end-0 me-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                                         class="text-secondary" viewBox="0 0 16 16">
                                        <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path>
                                    </svg>
                                    +{{ money(order.delivery_price, order.order_currency) }}
                                </span>
                             {% endif %}
						</span>
                </div>

                <div class="d-flex flex-column justify-content-between gap-1">

                    <div class="text-end">

                        {% if order.order_status != 'completed' %}

                            {% if order.order_move %}

                                <button
                                        class="btn btn-sm btn-warning"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="bottom"
                                        data-bs-delay='{"show":600,"hide":100}'
                                        title="Заказ ожидает перемещение продукции для полной сборки"
                                >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"></path>
                                    </svg>
                                </button>

                            {% elseif order.order_error or order.move_error %}

                                <button
                                        class="btn btn-sm btn-danger"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="bottom"
                                        data-bs-delay='{"show":600,"hide":100}'
                                        title="Невозможно добавить заказ в доставку! Обратитесь на склад для уточнения причины"
                                >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-exclamation-diamond-fill" viewBox="0 0 16 16">
                                        <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                    </svg>
                                </button>

                            {% else %}

                                <button type="button" class="btn btn-sm btn-light draggable-handle shadow-sm"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="bottom"
                                        data-bs-delay='{"show":600,"hide":100}'
                                        title="Изменить статус сделки"
                                >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-arrows-move" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10zM.146 8.354a.5.5 0 0 1 0-.708l2-2a.5.5 0 1 1 .708.708L1.707 7.5H5.5a.5.5 0 0 1 0 1H1.707l1.147 1.146a.5.5 0 0 1-.708.708l-2-2zM10 8a.5.5 0 0 1 .5-.5h3.793l-1.147-1.146a.5.5 0 0 1 .708-.708l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L14.293 8.5H10.5A.5.5 0 0 1 10 8z"/>
                                    </svg>
                                </button>

                            {% endif %}
                        {% endif %}
                    </div>

                    {% if order.order_comment %}
                        <button
                                class="btn btn-sm btn-outline-danger border-0"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                data-bs-delay='{"show":100,"hide":100}'
                                title="{{ order.order_comment }}"
                        >
                            <svg width="18" height="18" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.3"
                                      d="M20 3H4C2.89543 3 2 3.89543 2 5V16C2 17.1046 2.89543 18 4 18H4.5C5.05228 18 5.5 18.4477 5.5 19V21.5052C5.5 22.1441 6.21212 22.5253 6.74376 22.1708L11.4885 19.0077C12.4741 18.3506 13.6321 18 14.8167 18H20C21.1046 18 22 17.1046 22 16V5C22 3.89543 21.1046 3 20 3Z"
                                      fill="currentColor"></path>
                                <rect x="6" y="12" width="7" height="2" rx="1" fill="currentColor"></rect>
                                <rect x="6" y="7" width="12" height="2" rx="1" fill="currentColor"></rect>
                            </svg>

                        </button>
                    {% endif %}

                </div>
            </div>


            <div class="card-footer d-flex flex-column small gap-1 p-2">
                <div class="fw-bolder text-primary">
                    {{ order.order_profile }}
                </div>

                {% set users = order.order_user|json_decode %}

                {% for user in users %}
                    <div class='{{ loop.first ? "fw-bolder" }}'>
                        {{ user.profile_value|call_twig_func(user.profile_type~'_template') }}
                    </div>
                {% endfor %}

                {% if order.order_status != 'delivery' and  order.order_status != 'completed' %}

                    <div>

                        {% if order.delivery_date|date('d.m.Y') == date("now")|date('d.m.Y') %}
                            <span class="badge bg-danger small">Опоздание:</span>

                        {% else %}
                            <span class="text-muted small">Доставка:</span>
                        {% endif %}

                        &nbsp;

                        {% set deliveryDedline = date(order.delivery_date) %}
                        {% set deliveryDifference = deliveryDedline.diff(date("now")) %}

                        {% set deliveryDay = deliveryDifference.days ?: null %}



                        {% if deliveryDay is null or deliveryDay == 1 %}


                            {% if order.order_status != 'package' %}


                                {% if  order.delivery_date|date('d.m.Y') == date("now")|date('d.m.Y') %}

                                    {{ order.delivery_date|date('d.m.Y') }}

                                {% else %}

                                    {% if deliveryDay == 1 %}
                                        <strong class="small text-danger">
                                            Завтра
                                        </strong>
                                    {% else %}
                                        {{ order.delivery_date|date('d.m.Y') }}
                                    {% endif %}


                                {% endif %}

                            {% else %}


                                {% if  order.delivery_date|date('d.m.Y') == date("now")|date('d.m.Y') %}

                                    {{ order.delivery_date|date('d.m.Y') }}

                                {% else %}

                                    {% if deliveryDay == 1 %}
                                        <strong class="small text-danger">
                                            Завтра
                                        </strong>
                                    {% else %}
                                        {{ order.delivery_date|date('d.m.Y') }}
                                    {% endif %}


                                {% endif %}


                            {% endif %}

                        {% else %}
                            <strong class="small">
                                {{ order.delivery_date|date('d.m.Y') }}
                            </strong>
                        {% endif %}

                    </div>

                {% endif %}

            </div>
        </div>
    </div>
</div>

