{% trans_default_domain('user.order') %}

{# <div id='user_delivery' class="row justify-content-between fw-medium border-bottom pb-4 mb-4"> #}

{#    <h3 class="fs-14 mb-4 fw-bold"> #}
{#        Доставка * #}
{#    </h3> #}

{#    #}{#  Дата доставки  #}
{#    <div class="d-flex justify-content-between"> #}

{#        <div class="w-50"> #}
{#            {{ form_label(form.usr.delivery.deliveryDate, 'Дата доставки (самовывоза)'|trans) }} * #}
{#        </div> #}

{#        <div class="w-100 mb-3 input-group"> #}

{#                <span class="input-group-text"> #}
{#                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" #}
{#                         class="bi bi-calendar3" viewBox="0 0 16 16"> #}
{#                        <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"></path> #}
{#                        <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path> #}
{#                    </svg> #}
{#                </span> #}

{#            {{ form_widget(form.usr.delivery.deliveryDate) }} #}
{#        </div> #}
{#    </div> #}

{#    #}{#  Способы доставки  #}
{#    <div class="d-flex justify-content-between"> #}

{#        <div class="w-50"> #}
{#            <label>Способ доставки: *</label> #}
{#        </div> #}

{#        <div class="w-100 mb-3"> #}

{#            {% for delivery in form.usr.delivery.delivery %} #}

{#                <div class='d-flex align-items-center gap-1'> #}
{#                    {{ form_widget(delivery) }} #}

{#                    <div class='mb-1'> #}

{#                        {% if delivery.vars.attr['data-price'] %} #}
{#                            <strong>({{ money((delivery.vars.attr['data-price'] * 100), delivery.vars.attr['data-currency'] ) }})</strong> #}

{#                            {% if delivery.vars.attr['data-excess'] %} #}
{#                                &nbsp; <span #}
{#                                    class="badge text-bg-danger">+ {{ money((delivery.vars.attr['data-excess'] * 100), delivery.vars.attr['data-currency'] ) }} за 1 км</span> #}
{#                            {% endif %} #}

{#                        {% else %} #}
{#                            <strong>(бесплатно)</strong> #}
{#                        {% endif %} #}
{#                    </div> #}

{#                    {% if form.usr.delivery.delivery.vars.help %} #}

{#                        <p class="text-secondary mb-2 text-nowrap" style="font-size:11px;"> #}
{#                            {{ form.usr.delivery.delivery.vars.help }} #}
{#                        </p> #}

{#                    {% endif %} #}

{#                </div> #}

{#            {% endfor %} #}

{#        </div> #}
{#    </div> #}

{#    #}{# Пункты выдачи заказов #}
{#    {% for delivery_field in form.usr.delivery.field %} #}

{#        <div class="d-flex justify-content-between mb-3"> #}
{#            <div class="w-50 d-flex gap-3"> #}

{#                {{ form_label(delivery_field.value) }} #}

{#            </div> #}

{#            <div class="w-100"> #}
{#                {{ form_widget(delivery_field.field) }} #}
{#                {{ form_widget(delivery_field.value, { attr: { class : 'rounded-4' }}) }} #}
{#            </div> #}
{#        </div> #}

{#    {% endfor %} #}

{#    {{ form_row(form.usr.delivery.latitude) }} #}
{#    {{ form_row(form.usr.delivery.longitude) }} #}

{# </div> #}









{#    <div class="p-3"> #}
{#        <div class="d-flex align-items-center gap-3 mb-4"> #}
{#            <svg class="bi bi-geo-alt " xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#a7d3f7" viewbox="0 0 16 16"> #}
{#                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"></path> #}
{#                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path> #}
{#            </svg> #}
{#            <h3 class="fs-14 text-uppercase fw-bold mb-0"> #}
{#                тип покупателя и регион доставки #}
{#            </h3> #}
{#        </div> #}
{#        <div class="px-4"> #}
{#            <div class="d-flex gap-3"> #}
{#                <div class="form-check"> #}
{#                    <input class="form-check-input" id="yrFace" type="radio" name="buyerType"> #}
{#                    <label class="form-check-label text-secondary fs-12" for="yrFace"> #}
{#                        Юридическое лицо #}
{#                    </label> #}
{#                </div> #}
{#                <div class="form-check"> #}
{#                    <input class="form-check-input" id="fizFace" type="radio" name="buyerType" checked> #}
{#                    <label class="form-check-label text-secondary fs-12" for="fizFace"> #}
{#                        Физическое лицо #}
{#                    </label> #}
{#                </div> #}
{#            </div> #}
{#            <hr class="mt-0 mb-2"> #}
{#            <label class="form-label text-secondary fs-10 mb-2" for="location">Местоположение</label> #}
{#            <div class=" input-group rounded-5 p-1 bg-body-tertiary  mb-2" style="box-shadow: 0px 3px 3px rgba(0,0,0,0.08) inset;"> #}
{#                                <span class="input-group-text bg-transparent border-0"> #}
{#                                    <svg class="bi bi-search" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="lightgray" viewbox="0 0 16 16"> #}
{#                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path> #}
{#                                    </svg> #}
{#                                </span> #}
{#                <input class="form-control rounded-5 border-0 bg-body-tertiary" id="location" aria-label="Сторока поиска" style="height: 30px; font-size:12px;" type="text" placeholder="Местоположение"> #}
{#                <span class="input-group-text bg-transparent border-0"> #}
{#                                    <svg class="bi bi-x" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" viewbox="0 0 16 16"> #}
{#                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path> #}
{#                                    </svg> #}
{#                                </span> #}
{#            </div> #}
{#            <span class="text-secondary fs-10">Выберите свой город в списке. Если вы не нашли свой город, выберите "другое местоположение", а город впишите в поле "Город"</span> #}
{#        </div> #}
{#        <hr class="m-0"> #}
{#        <div class="p-3"> #}
{#            <div class="d-flex align-items-center gap-3 mb-4"> #}
{#                <svg class="bi bi-truck" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#a7d3f7" viewbox="0 0 16 16"> #}
{#                    <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path> #}
{#                </svg> #}
{#                <h3 class="fs-14 text-uppercase fw-bold mb-0"> #}
{#                    способ доставки #}
{#                </h3> #}
{#            </div> #}

{#            <div class="w-50"> #}
{#                {{ form_label(form.usr.delivery.deliveryDate, 'Дата доставки (самовывоза)'|trans) }}: * #}
{#            </div> #}

{#            <div class="px-4"> #}
{#                <div class="form-check mb-3"> #}
{#                    <input class="form-check-input" id="delMoscow" type="radio" name="Delivery"> #}
{#                    <label class="form-check-label fs-12 fw-medium" for="delMoscow"> #}
{#                        Доставка по Москве #}
{#                    </label> #}
{#                </div> #}
{#                <div class="form-check mb-3"> #}
{#                    <input class="form-check-input" id="delTerminal" type="radio" name="Delivery" checked> #}
{#                    <label class="form-check-label fs-12 fw-medium" for="delTerminal"> #}
{#                        Доставка по РФ до терминала ТК в Москве #}
{#                    </label> #}
{#                </div> #}
{#                <div class="form-check"> #}
{#                    <input class="form-check-input" id="delSelf" type="radio" name="Delivery" checked> #}
{#                    <label class="form-check-label fs-12 fw-medium" for="delSelf"> #}
{#                        Самовывоз Москва (бесплатно) #}
{#                        <span class="text-secondary fw-normal fs-10 d-block mt-2">Вы можете самостоятельно забрать заказ из нашего склада.</span> #}
{#                    </label> #}
{#                </div> #}
{#            </div> #}
{#        </div> #}
{#    </div> #}


<div id='user_delivery' class="px-4">

    <div class="d-flex align-items-center gap-3 mb-4">
        <svg class="bi bi-truck" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
             fill="#a7d3f7" viewbox="0 0 16 16">
            <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path>
        </svg>
        <h3 class="fs-6 text-uppercase mb-0">
            способ доставки
        </h3>
    </div>


    <div class="d-flex  gap-3">

        <div class="w-100">
            {{ form_label(form.usr.delivery.deliveryDate, 'Дата доставки (самовывоза):*'|trans) }}
        </div>

        <div class="w-100 mb-3">

            <div class="input-group mb-3">
                <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-calendar3" viewBox="0 0 16 16">
                        <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"></path>
                        <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                    </svg>
                </span>
                {{ form_widget(form.usr.delivery.deliveryDate) }}
            </div>
        </div>
    </div>

    <div class="d-flex flex-column  gap-3">

        <div class="w-100">
            <label>Способ доставки: *</label>
        </div>

        <div class="mb-3">

            {# Способы доставки #}
            {% for delivery in form.usr.delivery.delivery %}

                <label class="btn p-2 border-dotted rounded-3 w-100 text-muted mb-2 {{ (form.usr.delivery.delivery.vars.data and form.usr.delivery.delivery.vars.data == delivery.vars.data) or
                (not form.usr.delivery.delivery.vars.data and loop.first )  ? 'active' }}">

				<span class="d-flex align-items-center">
					<span class="flex-grow-1">
						<span class="h5">
							<span class="form-check d-flex align-items-center mb-0">

							   <span class='mb-1 me-3'>
								   {{ form_widget(delivery, { label: false }) }}
							   </span>

								<span class="text-start small">
										{{ delivery.vars.label }}

                                    <span class="small">
                                        {% if delivery.vars.attr['data-price'] %}

                                            {% set DeliveryPrice =  money((delivery.vars.attr['data-price'] * 100), delivery.vars.attr['data-currency']) %}

                                            <span class="d-block small">({{ DeliveryPrice }})

                                            {% if delivery.vars.attr['data-excess'] %}

                                                {% set DeliveryPrice =  money((delivery.vars.attr['data-excess'] * 100), delivery.vars.attr['data-currency'] ) %}

                                                &nbsp; <span
                                                    class="badge text-bg-danger">+ {{ DeliveryPrice }} за 1 км</span>

                                                </span>
                                            {% endif %}

                                    {% else %}

                                            <span class="d-block small">(бесплатно)</span>

                                        {% endif %}
                                    </span>
								</span>
							</span>
						</span>
					</span>
				</span>
                </label>


            {% endfor %}

        </div>
    </div>


    {% for delivery_field in form.usr.delivery.field %}

        <div class="d-flex mb-3 ">

            <div class="w-100">
                {# Инфо #}
                {% if form.usr.delivery.delivery.vars.help %}
                    <div class="alert alert-light small" role="alert">
                        {{ form.usr.delivery.delivery.vars.help }}
                    </div>
                {% endif %}
                {# Регион / Город и улица #}
                {{ form_row(delivery_field) }}
            </div>
        </div>

    {% endfor %}

    {{ form_row(form.usr.delivery.latitude) }}
    {{ form_row(form.usr.delivery.longitude) }}

</div>