{% trans_default_domain 'orders-order.admin' %}


<div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
    {{ form_start(form) }}
    <div class="modal-content p-3 border-bottom border-5 border-primary">
        <div class="modal-header">

            <h5 class="modal-title">
                {# Заголовок модального окна #}
                {{ 'Отправить заказ на упаковку'|trans }}

            </h5>

            <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" title="Close">
                <span class="svg-icon svg-icon-2x"></span>
            </div>
        </div>

        <div class="modal-body" id="modal-body">


            {# {% for delivery in form.vars.data.users.delivery.field %}

                <div class="mb-3">
                    <a target="_blank" href="https://yandex.ru/maps/?text={{ delivery.value }}&z=18"
                       class="text-decoration-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                             class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                        </svg>
                        &nbsp;
                        {{ delivery.value }}
                    </a>
                </div>

            {% endfor %} #}


            {#            {% if form.vars.data.warehouse %}

                <div class="mb-3">
                    <a href="https://yandex.ru/maps/?rtext={{ form.vars.data.warehouse.option }}~{{ form.vars.data.users.delivery.latitude }},{{ form.vars.data.users.delivery.longitude }}&rtt=auto"
                       target="_blank"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                        </svg>

                        {{ form.vars.data.users.delivery.address }}

                    </a>

                    {% if form.vars.data.users.delivery.pickup %}
                        <span class="ms-3 badge bg-danger">Пункт выдачи заказов</span>
                    {% endif %}
                </div>
            {% endif %} #}


            {{ form_row(form.profile, {
                label: 'Склад для упаковки заказа', placeholder: 'Выберите ближайший Склад для упаковки заказа ...', attr: { 'data-select' : 'select2' }
            }) }}

            {% for product in form.product|filter(v => v.vars.data.card is not empty) %}
                <div class="d-flex gap-3 align-items-center w-100">

                    {% set card = product.vars.data.card %}
                    {% set card_stock = card.stock is null or card.stock < 0 ? 0 : card.stock %}


                    {# Обложка  #}
                    {% set image_path = '/assets/img/blank.svg' %}

                    {% if card.product_image_ext is defined and card.product_image_ext is not null %}
                        {% set img_host =  card.product_image_cdn == true  ? CDN_HOST : '' %}
                        {% set img_dir = card.product_image %}
                        {% set img_file = (img_host is empty ? '/image.' : '/small.') ~ card.product_image_ext %}
                        {% set image_path = img_host ~ img_dir ~ img_file %}
                    {% endif %}


                    {# ФОТО ПРОДУКТА  #}
                    <div>
                        <div class="icon rounded-4 mb-2 bg-contain p-1"
                             style="width: 75px; height: 75px; background-image: url('{{ image_path }}');"
                        ></div>
                    </div>

                    <div>
                        <strong>
                            {{ card.product_name }}

                            {# Значение множественного варианта ТП #}
                            {{ card.product_variation_value|call_twig_func(card.product_variation_reference~'_render') ~
                            card.product_modification_value|call_twig_func(card.product_modification_reference~'_render') }}

                            {# Значение торгового предложения #}
                            {{ card.product_offer_value|call_twig_func(card.product_offer_reference~'_render') }}

                            {# Свойства, учавствующие в названии #}
                            {# {% for name_property in arr_property | filter(props => props.field_name == true) %}
                    {{ name_property.field_name|call_twig_func(name_property.field_type) }}
                {% endfor %} #}


                        </strong>

                        &nbsp;

                        {# Количество в заказе #}
                        <strong class="text-primary">( {{ product.vars.data.price.total }} шт. )
                        </strong>

                        &nbsp;

                        {% if form.vars.data.usr.delivery.pickup == false and product.vars.data.price.total > card_stock %}

                            <span class="text-danger">
                                {% if card_stock > 0 %}
                                    В наличии на складе <strong>{{ card_stock }}</strong> шт.
                                {% else %}
                                    {% if form.vars.data.profile %}
                                        Нет в наличии
                                    {% endif %}
                                {% endif %}
                            </span>

                            <div class="mt-1">

                                {# Перемещение  #}
                                {% if product.move.product is defined %}

                                    {% for move_product in product.move.product %}

                                        {{ form_row(move_product.product) }}
                                        {{ form_row(move_product.offer) }}
                                        {{ form_row(move_product.variation) }}
                                        {{ form_row(move_product.modification) }}

                                    {% endfor %}


                                    <div class="d-flex gap-3 align-items-center">
                                        {% if product.move.profile is defined %}

                                            <span>Переместить недостоток {{ (product.vars.data.price.total - card_stock) }} шт. со склада:</span>

                                            <div class="w-50">
                                                {{ form_widget(product.move.profile, {
                                                    placeholder: 'Выберите целевой Склад для перемещения ...', attr: { 'data-select' : 'select2' }
                                                }) }}
                                            </div>

                                        {% else %}
                                            {# {% if form.vars.data.profile %} #}
                                            <span class="text-danger">
                                                    Нет в наличии для перемещения
                                                </span>
                                            {# {% endif %} #}

                                        {% endif %}
                                    </div>

                                    {{ form_row(product.move.move.destination ) }}

                                {% endif %}


                            </div>
                        {% else %}

                            {% if card_stock > 0 %}
                                &nbsp; <span
                                    class="text-success">В наличии  <strong>{{ card_stock }}</strong> шт. </span>
                            {% else %}
                                <span class="text-danger">Нет в наличии</span>
                            {% endif %}

                        {% endif %}


                    </div>

                </div>


            {% else %}

                <div class="alert alert-danger clearfix" role="alert">
                    В заказе отстутсвет продукция для упаковки
                </div>


            {% endfor %}

            {% if form.vars.data.usr.delivery.address %}

                <label class="form-label mt-3">Адрес доставки (выдачи) заказа:</label>
                <div class="alert alert-warning" role="alert">
                    {{ form.vars.data.usr.delivery.address }}
                </div>
            {% endif %}
        </div>


        <div class="modal-footer">

            <div class="flex-grow-1">
                &nbsp;
            </div>

            <div class="d-flex gap-3">
                {# Отмена #}

                <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                    {{ 'btn.cancel'|trans({}, 'core.btn') }}
                </button>


                {# Удалить #}
                {{ form_widget(form.package, { label: '
				<span>'~ 'btn.save'|trans({}, 'core.btn') ~'</span>
				<span class="spinner-border spinner-border-sm vertical-middle d-none"></span>
			'}) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>

