<tr>
    <td colspan="8" class="accordion" id="accordion-items">

        {% set itemsCount = product.item|length %}

        {# Заголовок блока с продуктами #}
        <div class="accordion-header items-header">

            <button class="accordion-button collapsed py-1 rounded small"
                    type="button"
                    title="Свернуть"
                    data-bs-toggle="collapse"
                    data-bs-target="#{{ productGroup }}-items"
                    aria-label="Свернуть"
                    aria-expanded="false"
                    aria-controls="{{ productGroup }}-items">

                <span> Позиций: &nbsp;
                    <span class="text-primary"
                          data-items-total="{{ itemsCount }}">
                        {{ itemsCount }}
                    </span>
                </span>

            </button>

        </div>

        <div class="accordion-body p-1">

            <div id="{{ productGroup }}-items"
                 class="accordion-collapse collapse"
                 data-bs-parent="accordion-items"

                 data-group="product-items"
                 data-items-count="{{ itemsCount }}">

                <div id="{{ productGroup }}-items-prototype" class="d-none">
                    {{ include('@orders-order/admin/detail/pc/form/products/_items/item.prototype.html.twig')|e('html_attr') }}
                </div>

                {% for item in product.item %}

                    {% if isNotEdit == true %}

                        <div class="small mb-2">
                            &bull; {{ money(item.vars.data.price.price.value * 100, item.vars.data.price.currency) }}
                        </div>

                    {% endif %}

                    <div class="d-flex justify-content-start align-items-center text-center {{ isNotEdit ? 'd-none' }}"
                         data-item="product-item"
                         data-item-index="{{ loop.index0 }}"
                         id='{{ item.vars.id }}'>

                        <div class="d-none"
                             id="{{ item.vars.id }}_const"
                             data-items-const="{{ item.vars.value.const }}">
                        </div>

                        <div class="d-none"
                             id="{{ item.vars.id }}_product"
                             data-items-product="{{ product.vars.value.orderProductId }}">
                        </div>

                        <div class="d-none"
                             id="{{ item.vars.id }}_id"
                             data-items-id="{{ item.vars.value.id }}">
                        </div>

                        {# Удалить #}
                        <button type="button"
                                data-id='{{ item.vars.id }}'
                                data-product-price='{{ product.price.price.vars.id }}'
                                data-total="{{ product.price.total.vars.id }}"

                                data-items-index="{{ loop.index0 }}"
                                data-items-deleted="{{ productGroup }}-items-deleted"
                                data-items-deleted-prototype="{{ productGroup }}-items-deleted-prototype"

                                class="btn btn-outline-danger border-0 py-1 px-2 delete-el">

                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                 fill="currentColor"
                                 viewBox="0 0 16 16" class="mb-1">
                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"></path>
                            </svg>
                        </button>

                        {% set class_price = 'item-price' %}
                        {% set class_discount = 'item-discount' %}

                        {# Цена #}
                        <button type="button" class="btn btn-sm"
                                title="Уменьшить количество"
                                data-id='{{ item.price.price.vars.id }}'
                                data-action='price-minus'

                                data-step='100'>
                            <span class="h4 text-muted opacity-50">-</span>
                        </button>

                        {{ form_widget(item.price.price, { attr: {
                            class: 'form-control-sm rounded-3 '~class_price,
                            style: 'width: 75px;',
                            disabled: false,
                            'data-price': item.vars.data.price.price.value,
                            'data-total': product.price.total.vars.id,
                            'data-item': productGroup,
                        } }) }}

                        <button type="button" class="btn btn-sm"
                                title="Увеличить количество"
                                data-id='{{ item.price.price.vars.id }}'
                                data-action='price-plus'

                                data-step='100'>
                            <span class="h5 text-muted opacity-50">+</span>
                        </button>

                        {# Скидка #}
                        <div class="ps-2">
                            <div class="input-group">

                                {{ form_widget(item.price.discount, { attr: {
                                    class: 'form-control-sm '~class_discount,
                                    style: 'width: 81px;',
                                    placeholder: "Скидка",
                                    title: "Скидка",
                                    'data-target': item.price.price.vars.id,
                                } }) }}

                                <span class="input-group-text" id="basic-addon1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-percent" viewBox="0 0 16 16">
                                        <path d="M13.442 2.558a.625.625 0 0 1 0 .884l-10 10a.625.625 0 1 1-.884-.884l10-10a.625.625 0 0 1 .884 0M4.5 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5m7 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                                    </svg>
                            </span>
                            </div>
                        </div>

                    </div>
                {% endfor %}

                <div id="{{ productGroup }}-items-deleted">
                    <div id="{{ productGroup }}-items-deleted-prototype" class="d-none">
                        {{ include('@orders-order/admin/detail/pc/form/products/_items/deleted_item.prototype.html.twig')|e('html_attr') }}
                    </div>
                </div>

            </div>
        </div>

    </td>
</tr>