<tr class="vertical-middle">


    <td class="text-nowrap">
        {# Пользовательское меню #}
        {{ include(_self|replace({ "card.html.twig": "_usecase.html.twig" })) }}
    </td>
    <td class="text-center text-nowrap">
        {{ item.order_created|date('d.m.Y H:i') }}
    </td>

    <td class="text-center">
        <span data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              data-bs-delay='{"show":600,"hide":100}'
              title='QR заказа'
        >
                <a
                        href="{{ path('orders-order:admin.order.qrcode', { id : item.order_id }) }}"
                        class="btn-link btn p-0 modal-link icon"
                        data-bs-toggle="modal"
                        data-bs-target="#modal"
                        style="width: 55px; height: 55px;"
                >
                    <svg
                            xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor"
                            class="bi bi-qr-code" viewBox="0 0 16 16"><path d="M2 2h2v2H2V2Z"></path><path
                                d="M6 0v6H0V0h6ZM5 1H1v4h4V1ZM4 12H2v2h2v-2Z"></path><path
                                d="M6 10v6H0v-6h6Zm-5 1v4h4v-4H1Zm11-9h2v2h-2V2Z"></path><path
                                d="M10 0v6h6V0h-6Zm5 1v4h-4V1h4ZM8 1V0h1v2H8v2H7V1h1Zm0 5V4h1v2H8ZM6 8V7h1V6h1v2h1V7h5v1h-4v1H7V8H6Zm0 0v1H2V8H1v1H0V7h3v1h3Zm10 1h-1V7h1v2Zm-1 0h-1v2h2v-1h-1V9Zm-4 0h2v1h-1v1h-1V9Zm2 3v-1h-1v1h-1v1H9v1h3v-2h1Zm0 0h3v1h-2v1h-1v-2Zm-4-1v1h1v-2H7v1h2Z"></path><path
                                d="M7 12h1v3h4v1H7v-4Zm9 2v2h-3v-1h2v-1h1Z"></path>
                    </svg>
                </a>
            </span>
    </td>

    <td class="w-100">

        {% if item.order_status == 'draft' %}
            <a href="{{ path('orders-order:admin.order.draft') }}"
               class="fw-bolder mb-1 text-decoration-none product-name">
                {{ item.order_number }} <span class="badge bg-light text-dark fw-bolder p1 text-start ms-3">
					{{ item.order_profile }}
				</span>
            </a>
        {% else %}
            <a href="{{ path('orders-order:admin.order.products', { id: item.order_id }) }}"
               class="fw-bolder mb-1 text-decoration-none product-name">
                {{ item.order_number }} <span class="badge bg-light text-dark fw-bolder p1 text-start ms-3">
					{{ item.order_profile }}
				</span>
            </a>
        {% endif %}

         &nbsp;
        <div class="d-flex gap-3">

            {% set users = item.order_user|json_decode %}

            {% for user in users %}
                <div class='{{ loop.first ? "fw-bolder" }}'>
                    {{ user.profile_value|call_twig_func(user.profile_type~'_template') }}
                </div>
            {% endfor %}
        </div>
    </td>

    <td class="text-center">
        {#{{ item.order_status|trans({}, 'status.order') }}#}

        {{ order_status(item.order_status) }}

        {#{{ manufacture_status(item.status) }}#}
    </td>

    <td class="text-nowrap">

        {{ item.modify|date('d.m.Y H:i') }}
    </td>

</tr>

{#<tr>
    <td colspan="5">
    {{ dump(item) }}
    </td>
</tr>#}


