{% trans_default_domain('orders-order.admin') %}

{# ---- ШАБЛОН ------------------------------------------------------------ #}
{% extends Template('/admin/base.html.twig') %}

 {% block title %}{{ 'page.index'|trans }}{% endblock %}

{# ---- CSS ------------------------------------------------------------ #}
 {% block stylesheets %}
     <link href="/assets/plugins/draggable/draggable.min.css" rel="stylesheet" type="text/css">
     <link href="/assets/plugins/nice-select2/nice-select2.min.css" rel="stylesheet" type="text/css">
     <link href="/assets//plugins/datepicker/datepicker.min.css" rel="stylesheet">
 {% endblock %}


{# ---- КОНТЕНТ-БЛОК ------------------------------------------------------------ #}
{% block content %}
    {{ include(_self|replace({ "template.html.twig": baks_settings.device~"/content.html.twig" })) }}

    <div class="modal fade" tabindex="-1" id="modal_address" style="z-index: 9999;">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="d-flex justify-content-center w-100">
                <div class="spinner-border text-light" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



{% block javascript %}

<script nonce='{{ csp_nonce() }}' async data-src="https://api-maps.yandex.ru/2.1/?apikey={{ MAPS_YANDEX_API }}&lang={{ app.request.locale|lower }}" class='lazy'></script>
<script nonce='{{ csp_nonce() }}' async data-src="/assets/plugins/draggable/draggable.bundle.min.js?v={{ version }}" class="lazy"></script>
<script nonce='{{ csp_nonce() }}' async data-src="/assets/plugins/nice-select2/nice-select2.min.js?v={{ version }}" class="lazy"></script>
<script nonce='{{ csp_nonce() }}' async data-src="/assets/orders-order/order_draggable.min.js?v={{ version }}" class='lazy'></script>

{#  Сокеты  #}

<script nonce="{{ csp_nonce() }}">
    window.centrifugo_dsn = "{{ centrifugo_dsn }}";
    window.centrifugo_token = "{{ token }}";
</script>

<script nonce='{{ csp_nonce() }}' async data-src="/assets/centrifugo/centrifuge.min.js?v={{ version }}" class='lazy'></script>
<script nonce='{{ csp_nonce() }}' async data-src="/assets/centrifugo/socket.min.js?v={{ version }}" class='lazy'></script>

<script nonce="{{ csp_nonce() }}">

    let hfgsZAPeF = 100;

    setTimeout(function xA1wFjaW7B()
    {
        if(typeof centrifuge !== 'object')
        {
            if(hfgsZAPeF > 1000) { return; }

            hfgsZAPeF = hfgsZAPeF * 2;
            return setTimeout(xA1wFjaW7B, hfgsZAPeF);
        }


        const publish = centrifuge.newSubscription('orders');

        publish.on('publication', function(ctx)
        {
            if(ctx.data.profile !== '{{ current_profile }}')
            {
                /* Удаляем у остальных менеджеров заказ */
                document.getElementById(ctx.data.order).remove();
            }

        }).subscribe();

    }, 100);

</script>

{% endblock %}

