{% trans_default_domain('admin.order') %}

{# ---- ШАБЛОН ------------------------------------------------------------ #}
{% extends Template('/admin/base.html.twig') %}


 {% block title %}{{ 'admin.page.control'|trans }}{% endblock %}

{# ---- CSS ------------------------------------------------------------ #}
 {% block stylesheets %}
     <link href="/assets/plugins/draggable/draggable.min.css" rel="stylesheet" type="text/css">
     <link href="/assets/plugins/nice-select2/nice-select2.min.css" rel="stylesheet" type="text/css">
 {% endblock %}

{# ---- HEADER-БЛОК ------------------------------------------------------------ #}
{# {% block header %}
    {{ include(_self|replace({ "template.html.twig": "header.html.twig" })) }}
{% endblock %} #}


{# ---- LEFT-БЛОК ------------------------------------------------------------ #}
{# {% block left %} #}
{#   {% include '@Template/flowers/left.html.twig' %} #}
{# {% endblock %} #}


{# ---- КОНТЕНТ-БЛОК ------------------------------------------------------------ #}
{% block content %}
    {{ include(_self|replace({ "template.html.twig": "content.html.twig" })) }}
    <div class="px-1 py-1 text-start bg-light card card-body card-footer badge bg-body bg-light-primary lh-normal nice-select shadow active alert alert-secondary align-items-center align-items-end align-items-stretch border bottom-0 btn btn-close btn-danger btn-outline-light btn-sm btn-warning d-flex dropdown dropdown-item dropdown-menu dropdown-toggle fade flex-column flex-grow-1 form-check form-check-input form-check-label form-control form-control-sm form-select fw-bolder gap-3 gap-5 h-100 h3 h4 h5 h6 icon justify-content-between justify-content-center justify-content-end lh-1 mb-0 me-1 me-3 ms-1 mt-4 mx-1 my-3 nav nav-item nav-link nav-pills offcanvas-body offcanvas-header offcanvas-title opacity-50 p-2 p-3 p-5 pb-4 pt-0 pt-1 pt-3 px-3 px-5 py-2 rounded-2 rounded-3 rounded-4 rounded-circle shadow-sm show small sticky-bottom sticky-top tab-content tab-pane table table-borderless table-striped text-center text-dark text-decoration-none text-end text-muted text-primary text-uppercase w-100 w-25 w-50 icon rounded-4 mb-2 bg-contain p-1 row col-2 col align-self-center vertical-middle ms-2 p-0"
         style="display: none !important;"></div>
{% endblock %}

{# ---- FOOTER-БЛОК ------------------------------------------------------------ #}
{# {% block footer %}
    {{ include(_self|replace({ "template.html.twig": "footer.html.twig" })) }}
{% endblock %} #}


 {% block javascript %}

 <script nonce="{{ csp_nonce() }}" data-src="https://unpkg.com/centrifuge@3.1.1/dist/centrifuge.js" class='lazy'></script>

 <script nonce="{{ csp_nonce() }}" data-src="/assets/order_orders/orders_basket{{ app.environment != 'dev'?'.min' }}.js" class='lazy'></script>

 <script async nonce="{{ csp_nonce() }}" class="lazy" data-src="/assets/plugins/draggable/draggable.bundle.min.js" ></script>
 <script async nonce="{{ csp_nonce() }}" class="lazy" data-src="/assets/plugins/nice-select2/nice-select2.min.js" ></script>

<script nonce="{{ csp_nonce() }}">

var containers = document.querySelectorAll(".draggable-zone");

/** Обновляем offcanvas событиями orders_basket */
var myOffcanvas = document.getElementById('offcanvas');
myOffcanvas.addEventListener('show.bs.offcanvas', function (event) {
   var head= document.getElementsByTagName('head')[0];
	  
   var ordersScript = document.createElement('script');
	  ordersScript.src= '/assets/order_orders/orders_basket{{ app.environment != 'dev'?'.min' }}.js';
	  head.appendChild(ordersScript);

});



/** Сокеты */
 setTimeout(function xA1wFjaW7B() {

            if (typeof Centrifuge === 'function') {
                centrifuge = new Centrifuge("wss://{{ centrifugo_dsn }}/connection/websocket",
                {
                    token: "{{ token }}", //"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIwMTg2NWMxMC1jZDQ1LTdmMjEtYTUxNi0wMDM5NDFiMWM0Y2IiLCJpZCI6IjAxODY2ZjllLTcwZDAtNzNlMC1iNzYzLTg3OTRiNmU2YjFjYiIsImV2ZW50IjoiMDE4NzJjZjEtMDhjNy03NTUzLWJmMjctOTQxNTVhOTMxYjZhIiwiZXhwIjoxNjgyOTYyMzY3fQ.IeIMimmMTn2W4leLQAR3O8T70LOVaWau3B-HXHwOdzM",
                    getToken: function (ctx) {
                        return getToken('/centrifugo/credentials/user', ctx);
                    },
                    debug: true,
                });

                const publish = centrifuge.newSubscription('orders');

                publish.on('publication', function (ctx) {

                    if (ctx.data.profile !== '{{ app.user.profile.id }}')
                        {
                            /* Удаляем у остальных менеджеров заказ */
                            document.getElementById(ctx.data.order).remove();
                            console.log(ctx.data);
                        }
                }).subscribe();


                /*const privates = centrifuge.newSubscription("{{ app.user.profile.id }}");
                privates.on('publication', function (ctx) {


                    //console.log(ctx.data);
                    createToast(ctx.data);
                });

                privates.subscribe();*/


                centrifuge.connect();
                return;
            }

            setTimeout(xA1wFjaW7B, 100);

        }, 100);



 function getToken(url, ctx) {
    return new Promise((resolve, reject) => {
        fetch(url, {
            method: 'POST',
            headers: new Headers({ 'Content-Type': 'application/json' }),
            body: JSON.stringify(ctx)
        })
        .then(res => {
            if (!res.ok) {
                throw new Error(`Unexpected status code ${res.status}`);
            }
            return res.json();
        })
        .then(data => {
            resolve(data.token);
        })
        .catch(err => {
            reject(err);
        });
    });
}




setTimeout(function P8X1I2diQ4() {


    if(typeof Droppable === 'object')
    {

        var droppable = new Droppable.default(containers, {
            draggable: ".draggable",
            dropzone: ".draggable-zone",
            handle: ".draggable .draggable-handle",
            mirror: {
                //appendTo: selector,
                appendTo: "body",
                constrainDimensions: true
            }
        });

// Define draggable element variable for permissions level
let droppableOrigin;

// Handle drag start event -- more info: https://shopify.github.io/draggable/docs/class/src/Draggable/DragEvent/DragEvent.js~DragEvent.html
droppable.on("drag:start", (e) => {
    //droppableOrigin = e.originalSource.getAttribute("data-kt-draggable-level");
    console.log('drag:start');
    //console.log(e);

    //console.log(e);

    document.body.style.overflow = 'hidden';


});


let droppableLevel;
let droppableRestrict;

// Handle drag over event -- more info: https://shopify.github.io/draggable/docs/class/src/Draggable/DragEvent/DragEvent.js~DragOverEvent.html
droppable.on("drag:over", (e) => {
    // const isRestricted = e.overContainer.closest('[data-kt-draggable-level="restricted"]');
    // if (isRestricted) {
    //     if (droppableOrigin !== "admin") {
    //         restrcitedWrapper.classList.add("bg-light-danger");
    //     } else {
    //         restrcitedWrapper.classList.remove("bg-light-danger");
    //     }
    // } else {
    //     restrcitedWrapper.classList.remove("bg-light-danger");
    // }

    //console.log('drag:over');
//droppableLevel = e.overContainer.getAttribute("data-status")

   // console.log(droppableLevel);

});

// Handle drag stop event -- more info: https://shopify.github.io/draggable/docs/class/src/Draggable/DragEvent/DragEvent.js~DragStopEvent.html

droppable.on("drag:stop", (e) => {





    // remove all draggable occupied limit
    containers.forEach(c => {

        //console.log(c);
        c.classList.remove("draggable-dropzone--occupied");
    });

    // Remove restricted alert
    //restrcitedWrapper.classList.remove("bg-light-danger");

    console.log('drag:stop');

    //console.log(e);

let level = e.sourceContainer.getAttribute("data-status");
let id = e.originalSource.id; // getAttribute("data-order");


if (level !== droppableLevel && droppableRestrict !== 'restricted')
    {
        console.log(level+' => '+droppableLevel);
        console.log(id);

        /** Отправляем запрос на изменение статуса */
        submitLink( '/admin/order/status/'+droppableLevel+'/'+id)

    }

document.body.style.overflow = 'auto';


});






// Handle drop event -- https://shopify.github.io/draggable/docs/class/src/Droppable/DroppableEvent/DroppableEvent.js~DroppableDroppedEvent.html

droppable.on("droppable:dropped", (e) => {

    //const isRestricted = e.dropzone.closest('[data-draggable-level="restricted"]');

    //const isRestricted = e.dropzone.closest('[data-kt-draggable-level="restricted"]');
    // Detect if drop container is restricted
    // if (isRestricted) {
    //     // Check if dragged element has permission level
    //     if (droppableOrigin !== "admin") {
    //         restrcitedWrapper.classList.add("bg-light-danger");
    //         e.cancel();
    //     }
    // }

    //e.cancel();

    droppableLevel =  e.dropzone.getAttribute("data-status");
    droppableRestrict =  e.dropzone.getAttribute("data-level");

    if (droppableRestrict === 'restricted')
        {
            e.cancel();
        }

});

        return;
    }

    setTimeout(P8X1I2diQ4, 100);

}, 100);











</script>

 {% endblock %}

