<main class="main container px-4">

    {{ include(_self|replace({ "content.html.twig" : "breadcrumb.html.twig" })) }}

    <section>

        {# ССЫЛКЫ НА ЗАКАЗЫ #}
        <div class="d-flex align-items-center gap-2 mb-2">

            <a href="{{ path('orders-order:user.orders', { status: constant('BaksDev\\Orders\\Order\\Type\\Status\\OrderStatus\\OrderStatusNew::STATUS') } ) }}"
               class="btn border fw-bold text-secondary btn-alt rounded-5">
                Активные заказы
            </a>

            <a href="{{ path('orders-order:user.orders', { status: constant('BaksDev\\Orders\\Order\\Type\\Status\\OrderStatus\\OrderStatusCompleted::STATUS')} ) }}"
               class="btn border fw-bold text-secondary btn-alt rounded-5 {{ status == constant('BaksDev\\Orders\\Order\\Type\\Status\\OrderStatus\\OrderStatusCompleted::STATUS') ? 'active' }}">
                Завершенные заказы
            </a>

        </div>

        {# СПИОК ЗАКАЗОВ #}

        {% for order in orders.data %}

            {{ include (_self|replace({ "content.html.twig" : "_includes/products.html.twig" })) }}

        {% else %}

            <div class="d-flex align-items-center gap-2 mb-2">

                <h2 class="fs-18 mb-0 text-uppercase fw-bold mb-2">

                    {% if status == constant('BaksDev\\Orders\\Order\\Type\\Status\\OrderStatus\\OrderStatusNew::STATUS') %}
                        Активных заказов нет
                    {% endif %}

                    {% if status == constant('BaksDev\\Orders\\Order\\Type\\Status\\OrderStatus\\OrderStatusCompleted::STATUS') %}
                        Завершенных заказов нет
                    {% endif %}

                </h2>

            </div>

        {% endfor %}

        {% if orders.data is not empty %}
            {% include Template('/user/pc/includes/pagination.html.twig') with { 'pagination' : orders } %}
        {% endif %}

    </section>

</main>
