{% trans_default_domain('user.order') %}

<h5>Оплата</h5>

<div id='user_payment'>

    {% for payment in form.users.payment.payment %}

        <div class="form-check">

            <label class="form-check-label" for="payment1">
                {{ form_widget(payment) }}
            </label>
        </div>

    {% endfor %}

    {% if form.users.payment.payment.vars.help %}

        <div class="alert alert-secondary opacity-50 lh-1 small rounded-4 p-2 mt-3" role="alert">
            {{ form.users.payment.payment.vars.help }}

            {# Оплата производится наличными деньгами, в момент получения заказа. Подтверждением вашей оплаты
							является фискальный кассовый чек, вручаемый во время получения и оплаты заказа. #}
        </div>

    {% endif %}


    {% for payment_field in form.users.payment.field %}

        {{ form_label(payment_field.value) }}
        {{ form_row(payment_field.field) }}
        {{ form_widget(payment_field.value, { attr: { class : 'rounded-4' }}) }}

    {% endfor %}


</div>