{# @var card \BaksDev\Orders\Order\Repository\ProductUserBasket\ProductUserBasketResult #}

<div class="row">
    <div class="col-12 pb-4">

        {% if isProducts %}

            {% set total_summ_product = 0 %}
            {% set total_count_product = 0 %}
            {% set total_summ_currency = null %}

            {% for product in form.product %}

                {% set card = product.vars.data.card %}

                {% set summ = (product.price.vars.data.total * card.productPrice.value) %}

                {% set total_summ_product = (total_summ_product + summ) %}
                {% set total_count_product = total_count_product + product.price.vars.data.total %}
                {% set total_summ_currency = card.productCurrency %}

            {% endfor %}

            <div class="accordion" id="basket-accordion">

                {# 1 - Список товаров в корзине #}
                <div id="basket-list" class="accordion-collapse collapse show" data-bs-parent="#basket-accordion">

                    <div class="accordion-body p-0">

                        <div class="rounded-4">
                            <div class="d-flex align-items-center justify-content-between p-3 ">

                                <div class="d-flex align-items-center gap-5 fs-12">

                                    <span>В корзине
                                        <span class="text-primary">&nbsp;
                                            <span class="total-count">{{ total_count_product }} </span>
								            ед. товара</span>
                                    </span>

                                    <a href="{{ path('orders-order:public.truncate') }}" class="text-primary">
                                        <svg class="bi bi-x" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="gray" viewbox="0 0 16 16">
                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                                        </svg>
                                        Очистить
                                    </a>
                                </div>


                                <button class="btn btn-primary fw-medium rounded-5 px-4 py-2 fs-14"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#basket-ordering"
                                        aria-controls="basket-ordering"
                                        aria-expanded="false"
                                        type="button">
                                    Оформить заказ
                                </button>

                            </div>

                            <div class="border-top border-bottom px-4 py-2 mb-3">

                                {{ include(_self|replace({ "includes/basket_accordion.html.twig" : "form/products.html.twig" })) }}

                            </div>

                        </div>

                        <div class="text-end mt-3">
                            <button class="btn btn-primary rounded-4 px-5 py-3 fw-medium"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#basket-ordering"
                                    aria-controls="basket-ordering"
                                    aria-expanded="false"
                                    type="button">
                                Оформить заказ
                            </button>
                        </div>

                    </div>

                </div>

                {# 2 - Данные для оформления заказа #}
                <div id="basket-ordering" class="accordion-collapse collapse" data-bs-parent="#basket-accordion">

                    <div class="accordion-body p-0">

                        {# BASKET INFO #}
                        <div class="d-flex align-items-center  mb-2 justify-content-between">

                            <h2 class="fs-18 text-uppercase fw-bolder py-2">Оформление заказа</h2>

                            <div class="d-flex align-items-center gap-2">

                                <span class="me-3 small">
                                    Позиций в корзине:
                                    <span class="text-primary fw-bold">
                                        {{ baks_basket.counter }} {{ 'num_of_products'|trans({'count': baks_basket.counter}, 'messages') }}
                                    </span>
                                </span>

                                <button class="btn btn-primary border fw-bold btn-alt rounded-5"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#basket-list"
                                        aria-controls="basket-list"
                                        aria-expanded="true"
                                        type="button">
                                    Корзина
                                </button>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-7">
                                <div class="border rounded-4 mb-4">
                                    <div class="p-3 mb-2">
                                        {# Тип заказа #}
                                        {% if form.usr.userProfile.type is defined %}
                                            <div class="d-flex align-items-center gap-3 mb-4">

                                                <svg class="bi bi-cart d-block" xmlns="http://www.w3.org/2000/svg"
                                                     width="24" height="24" fill="#a7d3f7"
                                                     viewBox="0 0 16 16">
                                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                                                </svg>

                                                <h3 class="fs-6 text-uppercase mb-0">
                                                    тип заказа
                                                </h3>
                                            </div>

                                            {% for profile_type in form.usr.userProfile.type %}
                                                <label class="btn p-2 border-dotted rounded-3 w-100 text-muted mb-3 {{ profile_type.vars.data or (not profile_type.vars.data and loop.first) ? 'active' }}">
                                                    <span class="d-flex align-items-center">
                                                        <span class="flex-grow-1">
                                                            <span class="h5">
                                                                <span class="form-check d-flex align-items-center mb-0">

                                                                   <span class='mb-1 me-3'>
                                                                       {{ form_widget(profile_type, { label: false }) }}
                                                                   </span>

                                                                    <span style="font-size: 1rem;" class="text-start">
                                                                        {{ profile_type.vars.label }}
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </label>
                                            {% endfor %}
                                            <hr class="m-0">
                                        {% endif %}
                                    </div>

                                    <div class=" mb-4">
                                        {{ include(_self|replace({ "includes/basket_accordion.html.twig" : "form/user_profile.html.twig" })) }}
                                    </div>


                                    <div class=" mb-4">
                                        {{ include(_self|replace({ "includes/basket_accordion.html.twig" : "form/payment.html.twig" })) }}
                                    </div>

                                    <div class='px-3 mb-4'>
                                        {{ form_row(form.comment, {
                                            label: 'Комментарий',
                                            label_attr: {
                                                'class': 'fs-6 text-uppercase mb-2',
                                            }} ) }}
                                        <hr>
                                    </div>


                                    <div class=" mb-4">
                                        {{ include(_self|replace({ "includes/basket_accordion.html.twig" : "form/delivery.html.twig" })) }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-5">
                                <div class="bg-secondary rounded p-3">

                                    <div class="d-flex align-items-center justify-content-between">
                                        <h3 class="fs-18 mb-0">Ваш заказ</h3>
                                    </div>

                                    <hr>

                                    {# Итоговая цена #}
                                    <div class="d-flex align-items-top pt-1 gap-3 fw-medium mb-3">

                                        <p class="fs-16 mb-0">Итого</p>
                                        <p id="total_result" class="fs-3 lh-1 mb-1">
                                            {{ money((total_summ_product * 100), total_summ_currency) }}
                                        </p>
                                    </div>
                                    {% if has_services %}
                                        <p id="selected-services" class="fs-16 mb-2">Выбранные услуги:</p>
                                    {% endif %}

                                    {{ form_widget(form.order,
                                        { label:
                                            '<span>' ~ 'Оформить заказ'|trans({}, 'core.btn') ~'</span>'
                                            ~ '<span class="spinner-border spinner-border-sm vertical-middle d-none"></span>',
                                            attr: {
                                            class: 'btn btn-primary fw-medium rounded-5 w-100 py-2 mb-3',
                                            title : "Оформить заказ", 'aria-label' : "Оформить заказ" }}
                                    ) }}

                                    <div class="col-12">
                                        <p class="text-secondary mb-2" style="font-size:11px;">
                                            * Поля, обязательные к заполнению
                                        </p>

                                        <p class="fw-bold" style="font-size:11px;">
                                            Нажимая на кнопку «Оформить заказ» Вы соглашаетесь с условиями
                                            <a href="#" class="text-black">пользовательского соглашения.</a>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>

                </div>

            </div>

        {% else %}

            {# ПУСТАЯ КОРЗИНА #}
            <div class='d-flex justify-content-between align-items-center'>

                <div>
                    <h3>Ваша корзина пуста.</h3>
                    Начните с главной страницы или воспользуйтесь поиском.
                </div>

                <a href='{{ path('core:public.homepage') }}'
                   class="btn btn-primary py-2 px-6 fw-bold rounded-">
                    <span class="h6 text-uppercase px-3 basket-text">Продолжить покупки</span>
                    <span class="spinner-border spinner-border-sm vertical-middle d-none"></span>
                </a>

            </div>

        {% endif %}
    </div>

</div>