<div id='user_products'>

    {% set productWidth = 100 %}

    {% if form.preProduct.preOffer.vars.label %}
        {% set productWidth = 75 %}
    {% endif %}


    <div>

        <div class="d-flex gap-3 align-content-center">

            <div class="w-100">
                {{ form_row(form.preProduct.category, {
                    label: 'Категория',
                    placeholder: 'Выберите категорию из списка...',
                    attr: { 'data-select' : 'select2' } }) }}
            </div>

            <div class="w-100 d-none" id="preProduct">
                {{ form_row(form.preProduct.preProduct, {
                    label: 'Продукт',
                    placeholder: 'Выберите продукцию из списка...',
                    attr: { 'data-select' : 'select2', placeholder: form.preProduct.preProduct.vars.data ?: 'Продукция на складе отстутсвует', } }) }}
            </div>


            <div class="w-100 d-none" id="preOffer">
                {{ form_row(form.preProduct.preOffer) }}
            </div>

            <div class="w-100 d-none" id="preVariation">
                {{ form_row(form.preProduct.preVariation) }}
            </div>

            <div class="w-100 d-none" id="preModification">
                {{ form_row(form.preProduct.preModification) }}
            </div>

        </div>

        <div class="w-100 d-flex justify-content-between align-items-end gap-2">

            <div class="w-100">
                {{ form_row(form.preProduct.preTotal, { label: 'Количество', attr: { min : 1 } }) }}
            </div>

        </div>

    </div>

</div>