{% trans_default_domain('user.order') %}

{# Обязательные поля формы для заполнения #}

{% if form.usr.userProfile.type is defined %}

    <div class="d-flex flex-column gap-3" id='user_profile'>

        <div class="w-100 d-flex gap-3">
            <div class="w-100">
                {{ form_row(form.usr.userProfile.type,
                    { label : 'Тип заказа'|trans ,
                        placeholder: 'Выберите из списка тип заказа'|trans,
                        attr: { 'data-select' : 'select2' }
                    }) }}
            </div>

            <div class="w-50">
                {{ form_row(form.invariable.number, { label : 'Номер заказа: '|trans }) }}
            </div>

            {# Персональная скидка #}
            <div class="w-50">

                <div class="d-flex align-items-center mb-2 gap-2">

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="text-muted" viewBox="0 0 16 16" role="tooltip" data-bs-toggle="tooltip"
                         data-bs-placement="bottom"
                         data-bs-html="true"
                         data-bs-original-title="Положительное число приводит к увеличению стоимости, отрицательное – к её уменьшению на указанный процент.">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"></path>
                    </svg>

                    <label class="m-0 form-label required" for="{{ form.preProduct.discount.vars.id }}">
                        Скидка / Надбавка
                    </label>
                </div>

                <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-percent" viewBox="0 0 16 16">
                              <path d="M13.442 2.558a.625.625 0 0 1 0 .884l-10 10a.625.625 0 1 1-.884-.884l10-10a.625.625 0 0 1 .884 0M4.5 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5m7 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                            </svg>
                        </span>

                    {{ form_widget(form.preProduct.discount) }}
                </div>

            </div>
        </div>


        {% if form.usr.userProfile.value is defined %}


            {% set section = null %}


            {% for value in form.usr.userProfile.value %}

                {% if section != value.vars.data.section %}
                    {% set section = value.vars.data.section %}

                    {# Закрываем секцию, eсли она не первая в цикле #}
                    {# {% if loop.first != true %}
			</div></div>
		{% endif %} #}


                    {# Открываем новую секцию #}

                    <div class="card-header border-light bg-body">
                        <div class="card-title">
                            <h5>
                                {# Название секции #}
                                {{ value.vars.data.sectionName }}
                            </h5>
                        </div>
                    </div>


                {% endif %}



                {# РЕНДЕР ПОЛЕЙ #}
                {# {{ render_field(value.vars.data.type, value.value) }} #}
                {# {{ render_field(value.vars.data.type, value.value) }} #}


                {% if value.value is  defined %}

                    <div class="d-flex justify-content-between">
                        <div class="w-50 d-flex gap-3">
                            {{ form_label(value.value) }}
                        </div>

                        <div class="w-50">
                            {{ form_widget(value.value) }}
                        </div>
                    </div>

                {% endif %}




                {# {% if value %}
		<div class="d-flex justify-content-between">
			<div class="w-50">
				{{ form_label(value.value) }}
			</div>
			
			
			<div class="w-50">
				{{ form_widget(value.value, { attr: { class : 'rounded-4' }}) }}
			</div>
		</div>
	{% endif %} #}



                {# <div class="d-flex justify-content-between">
		<div class="w-50">
			{{ form_label(value.value) }}
		</div>
		
		
		<div class="w-50">
			{{ form_widget(value.value, { attr: { class : 'rounded-4' }}) }}
		</div>
	</div> #}


            {% endfor %}
        {% endif %}

    </div>
{% endif %}

