{% trans_default_domain('user.order') %}

{# Обязательные поля формы для заполнения #}


{% if form.usr.userProfile.type is defined %}


    {#    <div class="d-flex justify-content-between">
        <div class="w-25"><label>Пип профиля: *</label></div>
        <div class="w-75 d-flex gap-3">

            {{ form_row(form.usr.userProfile.type) }}


        </div>
    </div> #}


    <div class="d-flex flex-column gap-3" id='user_profile'>

        <div class="w-100">
            {{ form_row(form.usr.userProfile.type,
                { label : 'Тип заказа'|trans ,
                    placeholder: 'Выберите из списка тип заказа'|trans,
                    attr: { 'data-select' : 'select2' }
                }) }}
        </div>


        {% if form.usr.userProfile.value is defined %}



            {% set section = null %}


            {% for value in form.usr.userProfile.value %}

                {% if section != value.vars.data.section %}
                    {% set section = value.vars.data.section %}

                    {# Закрываем секцию, eсли она не первая в цикле #}
                    {# {% if loop.first != true %}
			</div></div>
		{% endif %} #}


                    {# Открываем новую секцию #}

                    <div class="card-header border-light bg-body">
                        <div class="card-title">
                            <h5>
                                {# Название секции #}
                                {{ value.vars.data.sectionName }}
                            </h5>
                        </div>
                    </div>


                {% endif %}



                {# РЕНДЕР ПОЛЕЙ #}
                {# {{ render_field(value.vars.data.type, value.value) }} #}
                {# {{ render_field(value.vars.data.type, value.value) }} #}


                {% if value.value is  defined %}

                    <div class="d-flex justify-content-between">
                        <div class="w-50 d-flex gap-3">
                            {{ form_label(value.value) }}
                        </div>

                        <div class="w-50">
                            {{ form_widget(value.value) }}
                        </div>
                    </div>

                {% endif %}




                {# {% if value %}
		<div class="d-flex justify-content-between">
			<div class="w-50">
				{{ form_label(value.value) }}
			</div>
			
			
			<div class="w-50">
				{{ form_widget(value.value, { attr: { class : 'rounded-4' }}) }}
			</div>
		</div>
	{% endif %} #}



                {# <div class="d-flex justify-content-between">
		<div class="w-50">
			{{ form_label(value.value) }}
		</div>
		
		
		<div class="w-50">
			{{ form_widget(value.value, { attr: { class : 'rounded-4' }}) }}
		</div>
	</div> #}


            {% endfor %}
        {% endif %}

    </div>
{% endif %}

