<div class="offcanvas-header">
    <button type="button" class="btn-close icon rounded-circle" style="width: 35px; height: 35px;"
            data-bs-dismiss="offcanvas"
            title="Close">

    </button>
</div>

{% if order %}

    {{ form_start(form, { attr: { class: 'offcanvas-body w-100 p-0' } }) }}
    {# <div class="offcanvas-body pt-0 px-5"> #}

    <div class='px-3 mb-3'>

        <div class='d-flex gap-3 align-items-center'>
            {# bg-danger bg-light bg-primary bg-success #}
            <div class="badge" style='background-color: {{ status.color }};'>
                {{ order.order_status|trans({}, 'status.order') }}
            </div>

            <h5 class="offcanvas-title flex-grow-1 mb-0">
                Заказ #{{ order.order_number }}
            </h5>

        </div>

        <hr>

        <ul class="nav nav-pills d-flex gap-3 pb-4 sticky-top bg-body" id="pills-tab" role="tablist">

            <li class="nav-item" role="presentation">
                <button class="btn nav-link fw-bolder rounded-3 border active"
                        id="order"
                        data-bs-toggle="pill"
                        data-bs-target="#pills-order"
                        aria-controls="pills-order"
                        type="button" role="tab"
                        aria-selected="true">
                    <span class="text-uppercase px-3">Заказ</span>
                </button>
            </li>

            <li class="nav-item " role="presentation">
                <button class="btn nav-link fw-bolder rounded-3 border"
                        id="delivery" data-bs-toggle="pill"
                        data-bs-target="#pills-delivery"
                        aria-controls="pills-delivery"
                        type="button"
                        role="tab"
                        aria-selected="false" tabindex="-1">
                    <span class="text-uppercase px-3">Доставка</span>
                </button>
            </li>


            <li class="nav-item " role="presentation">
                <button class="btn nav-link fw-bolder rounded-3 border"
                        id="payment" data-bs-toggle="pill"
                        data-bs-target="#pills-payment"
                        aria-controls="pills-payment"
                        type="button"
                        role="tab"
                        aria-selected="false" tabindex="-1">
                    <span class="text-uppercase px-3">Оплата</span>
                </button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="btn nav-link fw-bolder rounded-3 border"
                        id="history"
                        data-bs-toggle="pill"
                        data-bs-target="#pills-history"
                        aria-controls="pills-history"
                        type="button"
                        role="tab"

                        aria-selected="false" tabindex="-1"><span class="text-uppercase px-3">История</span>
                </button>
            </li>

            <li class="nav-item flex-grow-1 text-end" role="presentation">

                <div class="dropdown">

                    <button class="btn btn-warning dropdown-toggle " type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Документы
                    </button>

                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('orders-order:admin.document.sales', { id : order.order_id }) }}"
                               class="dropdown-item prnt"
                               data-bs-toggle="modal"
                               data-bs-target="#modal"
                            >
                                Накладная
                            </a>
                        </li>

                        {% if constant('BaksDev\\Products\\Sign\\BaksDevProductsSignBundle::NAMESPACE') is defined %}
                            <li>
                                <a href="{{ path('products-sign:admin.print', { order : order.order_id }) }}"
                                   class="dropdown-item prnt"
                                   data-bs-toggle="modal"
                                   data-bs-target="#modal"
                                >
                                    Честный знак
                                </a>
                            </li>
                        {% endif %}

                        <li>
                            <a href="{{ path('orders-order:admin.document.receipt', { id : order.order_id }) }}"
                               class="dropdown-item prnt"
                               data-bs-toggle="modal"
                               data-bs-target="#modal"
                            >
                                Приходный ордер
                            </a>
                        </li>
                    </ul>
                </div>

            </li>

        </ul>


        <div class="tab-content w-100 h-100 pt-3" id="pills-tabContent">


            <div class="tab-pane fade active show" role="tabpanel"
                 id="pills-order"
                 tabindex="0"
            >

                {% set users = order.order_user|json_decode|filter(v => v.profile_value is not empty and v.profile_name is not empty) %}

                {% if users %}

                    {# Клиент #}
                    <div class="d-flex align-items-end bg-light gap-5 p-3 rounded-3 my-3">

                        <div>

                            {# Обложка  #}
                            {% set image_path = '/assets/img/blank.svg' %}

                            {% if order.profile_avatar_ext is defined and order.profile_avatar_ext is not null %}
                                {% set img_host =  order.profile_avatar_cdn == true  ? CDN_HOST : '' %}
                                {% set img_dir = order.profile_avatar_name %}
                                {% set img_file = (img_host is empty ? '/image.' : '/small.') ~ order.profile_avatar_ext %}
                                {% set image_path = img_host ~ img_dir ~ img_file %}
                            {% endif %}

                            <span class="icon rounded-circle bg-contain lazy p-1 mb-2 entered loaded"
                                  style="width: 43px; height: 43px; background-image: url('{{ image_path }}');"
                            ></span>
                        </div>


                        {% for user in users %}
                            <div class='d-flex flex-column small'>
                                <small class="small text-muted">{{ user.profile_name }}</small>
                                <span class="h5 {{ loop.first ? "fw-bolder" }} ">{{ user.profile_value|call_twig_func(user.profile_type~'_template') }}</span>
                            </div>
                        {% endfor %}

                    </div>

                {% endif %}

                {# ПРОДУКЦИЯ  #}
                <div class="d-flex flex-column gap-3 my-3">

                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="text-uppercase fw-bolder py-2">Продукция</h5>
                        <div class="small">
						<span class="me-3 pt-3"> Позиций: &nbsp;
							<span class="text-primary">
								{{ form.product.count }} {{ 'num_of_products'|trans({'count': form.product.count }, 'messages') }}
							</span>
						</span>
                        </div>
                    </div>

                    <div class="border rounded-4 p-2">
                        {{ include(_self|replace({ "content.html.twig": "form/products.htnl.twig" })) }}
                    </div>
                </div>

                {{ form_widget(form.comment, {  attr: { placeholder : 'Комментарий к заказу'} }) }}

            </div>


            <div class="tab-pane fade " id="pills-payment" role="tabpanel" tabindex="0">
                {{ include(_self|replace({ "content.html.twig": "form/payment.html.twig" })) }}
            </div>

            {# ОПЛАТА И ДОСТАВКА #}


            <div class="tab-pane fade " id="pills-delivery" role="tabpanel" tabindex="0">


                {{ include(_self|replace({ "content.html.twig": "form/delivery.html.twig" })) }}


                {% set address = order.delivery_geocode_address %}


                {% if address is null %}
                    {% for delivery_field in form.usr.delivery.field %}
                        {% if delivery_field.value.vars.label == 'Адрес доставки' %}
                            {% set address = delivery_field.value.vars.data %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {# {% if address %}
				<a target="_blank" href="https://yandex.ru/maps/?text={{ address }}&z=18">Показать на карте</a>


				{% if order.delivery_geocode_longitude and order.delivery_geocode_latitude %}

					<iframe class="lazy w-100" title="Адрес доставки" style="height: 350px;"
							src="https://yandex.ru/maps/?pt={{ order.delivery_geocode_longitude }},{{ order.delivery_geocode_latitude }}&z=18&l=map" height="200">
					</iframe>

				{% else %}
					<iframe class="lazy w-100" title="Адрес доставки" style="height: 350px;"
							src="https://yandex.ru/maps/?text={{ address }}&z=18" height="200">
					</iframe>
				{% endif %}


			{% endif %} #}

            </div>


            {# ИСТОРИЯ #}

            <div class="tab-pane fade" id="pills-history" role="tabpanel" tabindex="0">


                <div class="border rounded-4 p-2">
                    <table class="table table-striped table-borderless mb-0">

                        <thead>
                        <tr class="small">
                            <th>Статус</th>
                            <th>Дата</th>
                            <th>Время</th>
                            <th>Пользователь</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for hist in history %}

                            <tr>
                                <td><span class="badge"
                                          style='background-color: {{ statuses.from(hist.status).getColor() }};'>{{ hist.status|trans({}, 'status.order') }}</span>
                                </td>
                                <td>{{ hist.mod_date|date('d.m.Y') }}</td>
                                <td>{{ hist.mod_date|date('H:i:s') }}</td>
                                <td>

                                    {% if loop.first %}
                                        {% for user in users|slice(0, 1) %}
                                            {{ user.profile_name }}
                                        {% endfor %}
                                    {% else %}
                                        {{ hist.profile_username }}
                                    {% endif %}

                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>

            </div>
        </div>


    </div>


    {% set total_summ_product = 0 %}
    {% set total_summ_currency = null %}

    {% for product in form.product %}

        {% set card = product.vars.data.card %}

        {% if card %}
            {# {% set summ = (product.price.vars.data.total * card.product_price) %} #}
            {% set summ = (product.price.vars.data.total * (product.price.vars.data.price.value * 100)) %}
            {% set total_summ_product = total_summ_product + summ %}
            {% set total_summ_currency = card.product_currency %}
        {% endif %}

    {% endfor %}


    {% set discount = false %}


    {% if order.order_profile_discount %}
        {% set discount = total_summ_product - (total_summ_product / 100 * order.order_profile_discount) %}
    {% endif %}


    <div class="w-100 d-flex justify-content-between align-items-center bg-light p-3 gap-3">

        <div class="w-100">
            <span class="small">Товаров на сумму: &nbsp;
                <span id='total_product_sum'>{{ discount ?  money(discount) : money(total_summ_product) }}</span>
            </span>

            <div class="d-flex align-items-stretch">
                <span class="small me-3 pt-1">Итого:</span>
                <span id='total_all_sum'
                      class="fw-bolder mb-0 h3">{{ discount ?  money(discount) : money(total_summ_product) }}</span>
            </div>
        </div>

    </div>


    <div class="w-100 d-flex justify-content-between align-items-center sticky-bottom bottom-0 bg-light p-3 gap-3">

        <div>
            {% if order.order_status != 'completed' %}
                {{ form_widget(form.order, { label: '
                    <span class="text-nowrap">'~ 'Сохранить изменения'|trans({}, 'core.btn') ~'</span>
                    <span class="spinner-border spinner-border-sm vertical-middle d-none"></span>
		        ', attr: { class: 'btn-danger', title : "Сохранить изменения" }
                }) }}
            {% endif %}
        </div>


        <div class="w-50 d-flex gap-3 align-items-end justify-content-end">

            {# <div class='w-25'>
            {{ form_widget(form.status) }}
        </div> #}

            <button type="button"
                    class="btn btn-light border text-secondary"
                    data-bs-dismiss="offcanvas"
                    title="Close">
                <span class="text-nowrap">Закрыть без изменений</span>
            </button>

        </div>
    </div>

    {{ form_end(form) }}

{% endif %}
