<div class="offcanvas-header">
    <button type="button" class="btn-close icon rounded-circle" style="width: 35px; height: 35px;"
            data-bs-dismiss="offcanvas"
            title="Close">

    </button>
</div>

{% set product_prototype = form.product.vars.prototype %}

{% set price_price_widget = form_widget(product_prototype.price.price, { attr: {
        class: 'form-control-sm rounded-3 price',
        style: 'width: 75px;',
        min: '__product_min_price__',
        disabled: false,
        value: '__product_price__'
    } }) %}


{% set price_total_widget = form_widget(product_prototype.price.total, {
        label: false,
        attr: {
            class : 'form-control-sm mx-1 rounded-3 total',
            style: 'width: 50px;',
            'data-price' :   '__product_price__',
            'data-discount' : '__product_discount__',
            'data-currency' : '__product_currency__',
            'data-max' : '__product_total_max__',
            'value' : '__product_total__'
        } } )
%}


{# @var material \BaksDev\Materials\Sign\Repository\GroupMaterialSignsByOrder\GroupMaterialSignsByOrderResult #}

{# @var product \BaksDev\Products\Sign\Repository\GroupProductSignsByOrder\GroupProductSignsByOrderResult #}


{% if order %}

    {{ form_start(form, { attr: { class: 'offcanvas-body w-100 p-0' } }) }}

    <div class='px-3 mb-3'>

        <div class='d-flex gap-3 align-items-center'>
            {# bg-danger bg-light bg-primary bg-success #}
            <div class="badge" style='background-color: {{ status.color }};'>
                {{ order.order_status|trans({}, 'status.order') }}
            </div>

            <h5 class="offcanvas-title flex-grow-1 mb-0">
                Заказ #{{ order.order_number }}
            </h5>

        </div>

        <hr>

        <ul class="nav nav-pills d-flex gap-3 pb-4 sticky-top bg-body" id="pills-tab" role="tablist">

            <li class="nav-item" role="presentation">
                <button class="btn nav-link fw-bolder rounded-3 border active"
                        id="order"
                        data-bs-toggle="pill"
                        data-bs-target="#pills-order"
                        aria-controls="pills-order"
                        type="button" role="tab"
                        aria-selected="true">
                    <span class="text-uppercase px-3">Заказ</span>
                </button>
            </li>

            <li class="nav-item " role="presentation">
                <button class="btn nav-link fw-bolder rounded-3 border"
                        id="delivery" data-bs-toggle="pill"
                        data-bs-target="#pills-delivery"
                        aria-controls="pills-delivery"
                        type="button"
                        role="tab"
                        aria-selected="false" tabindex="-1">
                    <span class="text-uppercase px-3">Доставка</span>
                </button>
            </li>


            <li class="nav-item " role="presentation">
                <button class="btn nav-link fw-bolder rounded-3 border"
                        id="payment" data-bs-toggle="pill"
                        data-bs-target="#pills-payment"
                        aria-controls="pills-payment"
                        type="button"
                        role="tab"
                        aria-selected="false" tabindex="-1">
                    <span class="text-uppercase px-3">Оплата</span>
                </button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="btn nav-link fw-bolder rounded-3 border"
                        id="history"
                        data-bs-toggle="pill"
                        data-bs-target="#pills-history"
                        aria-controls="pills-history"
                        type="button"
                        role="tab"

                        aria-selected="false" tabindex="-1"><span class="text-uppercase px-3">История</span>
                </button>
            </li>

            <li class="nav-item flex-grow-1 text-end" role="presentation">

                <div class="dropdown">

                    <button class="btn btn-warning dropdown-toggle " type="button"
                            data-bs-toggle="dropdown"
                            data-bs-auto-close="false"
                            aria-expanded="false"
                    >
                        Документы
                    </button>

                    <ul class="dropdown-menu overflow-auto" style="max-height: 500px;">

                        <li>
                            <a href="{{ path('orders-order:admin.document.sales', { id : order.order_id }) }}"
                               class="dropdown-item prnt"
                               data-bs-toggle="modal"
                               data-bs-target="#modal"
                            >
                                Накладная
                            </a>
                        </li>

                        <li>
                            <a href="{{ path('orders-order:admin.document.receipt', { id : order.order_id }) }}"
                               class="dropdown-item prnt"
                               data-bs-toggle="modal"
                               data-bs-target="#modal"
                            >
                                Приходный ордер
                            </a>
                        </li>

                        {% if materials_sign %}

                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <div class="d-flex gap-3 align-items-center justify-content-between w-100 p-2">
                                    <h6 class="dropdown-header">Честный знак</h6>

                                    <a
                                            class="btn btn-sm btn-light disabled prnt text-muted"
                                            data-bs-toggle="modal"
                                            data-bs-target="#modal"
                                            href="{{ path('products-sign:document.print.orders', { order: order.order_id }) }}">
                                        Печать всех честных знаков &nbsp;
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                                             fill="currentColor"
                                             class="bi bi-printer" viewBox="0 0 16 16">
                                            <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
                                            <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1"/>
                                        </svg>
                                    </a>
                                </div>
                            </li>

                            {% for material in materials_sign %}

                                {% set parameters = {
                                    article: material.materialArticle,
                                    order: order.order_id,
                                    material: material.materialId,
                                    offer: material.materialOfferConst,
                                    variation: material.materialVariationConst,
                                    modification: material.materialModificationConst
                                } %}

                                <li>
                                    <div class="dropdown-item">
                                        <div class="d-flex gap-3 align-items-center small">
                                            <div class="w-100">

                                                {{ material.counter }} шт. &nbsp;

                                                {{ material.materialName }}

                                                {# Значение множественного варианта ТП #}
                                                {{ material.materialVariationValue|call_twig_func(material.materialVariationReference~'_render') ~
                                                material.materialModificationValue|call_twig_func(material.materialModificationReference~'_render') }}

                                                {# Значение торгового предложения #}
                                                {{ material.materialOfferValue|call_twig_func(material.materialModificationReference~'_render') }}

                                            </div>

                                            <div class="d-flex gap-3 align-items-center ">

                                                <a class="text-muted"
                                                   href="{{ path('materials-sign:document.pdf.orders', parameters) }}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                                                         fill="currentColor" class="bi bi-filetype-pdf"
                                                         viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd"
                                                              d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z"/>
                                                    </svg>
                                                </a>

                                                <a class="text-muted"
                                                   href="{{ path('materials-sign:admin.txt.orders', parameters) }}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                                                         fill="currentColor" class="bi bi-filetype-txt"
                                                         viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd"
                                                              d="M14 4.5V14a2 2 0 0 1-2 2h-2v-1h2a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.928 15.849v-3.337h1.136v-.662H0v.662h1.134v3.337zm4.689-3.999h-.894L4.9 13.289h-.035l-.832-1.439h-.932l1.228 1.983-1.24 2.016h.862l.853-1.415h.035l.85 1.415h.907l-1.253-1.992zm1.93.662v3.337h-.794v-3.337H6.619v-.662h3.064v.662H8.546Z"/>
                                                    </svg>
                                                </a>

                                                <a class="text-muted"
                                                   href="{{ path('products-sign:document.big.orders', parameters) }}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                                                         fill="currentColor"
                                                         class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                                                        <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5"/>
                                                        <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                                                    </svg>
                                                </a>

                                            </div>

                                        </div>

                                    </div>
                                </li>

                            {% endfor %}


                        {% endif %}


                        {% if products_sign %}

                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li><h6 class="dropdown-header">Честный знак</h6></li>


                            {% for product in products_sign %}

                                {% set parameters = {
                                    part: product.signPart,
                                    article: product.productArticle,
                                    order: order.order_id,
                                    product: product.productId,
                                    offer: product.productOfferConst,
                                    variation: product.productVariationConst,
                                    modification: product.productModificationConst
                                } %}

                                <li>
                                    <div class="dropdown-item">
                                        <div class="d-flex gap-3 align-items-center small">
                                            <div class="w-100">

                                                {{ product.getCounter }} шт. &nbsp;

                                                {{ product.productName }}

                                                {# Значение множественного варианта ТП #}
                                                {{ product.productVariationValue|call_twig_func(product.productVariationReference~'_render') ~
                                                product.productModificationValue|call_twig_func(product.productModificationReference~'_render') }}

                                                {# Значение торгового предложения #}
                                                {{ product.productOfferValue|call_twig_func(product.productOfferReference~'_render') }}

                                                {{ product.productOfferPostfix }}
                                                {{ product.productVariationPostfix }}
                                                {{ product.productModificationPostfix }}

                                            </div>

                                            <div class="d-flex gap-3 align-items-center ">

                                                <a class="text-muted"
                                                   href="{{ path('products-sign:document.pdf.orders', parameters) }}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                                                         fill="currentColor" class="bi bi-filetype-pdf"
                                                         viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd"
                                                              d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z"/>
                                                    </svg>
                                                </a>

                                                <a class="text-muted"
                                                   href="{{ path('products-sign:document.small.txt.orders', parameters) }}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                                                         fill="currentColor" class="bi bi-filetype-txt"
                                                         viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd"
                                                              d="M14 4.5V14a2 2 0 0 1-2 2h-2v-1h2a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.928 15.849v-3.337h1.136v-.662H0v.662h1.134v3.337zm4.689-3.999h-.894L4.9 13.289h-.035l-.832-1.439h-.932l1.228 1.983-1.24 2.016h.862l.853-1.415h.035l.85 1.415h.907l-1.253-1.992zm1.93.662v3.337h-.794v-3.337H6.619v-.662h3.064v.662H8.546Z"/>
                                                    </svg>
                                                </a>
                                            </div>

                                        </div>

                                    </div>
                                </li>

                            {% endfor %}


                        {% endif %}

                    </ul>
                </div>

            </li>

        </ul>


        <div class="tab-content w-100 h-100 pt-3" id="pills-tabContent">


            <div class="tab-pane fade active show" role="tabpanel"
                 id="pills-order"
                 tabindex="0"
            >

                {% set users = order.order_user|json_decode|filter(v => v.profile_value is not empty and v.profile_name is not empty) %}

                {% if users %}

                    {# Клиент #}
                    <div class="d-flex align-items-end bg-light gap-5 p-3 rounded-3 my-3">

                        <div>

                            {# Обложка  #}
                            {% set image_path = '/assets/img/blank.svg' %}

                            {% if order.profile_avatar_ext is defined and order.profile_avatar_ext is not null %}
                                {% set img_host =  order.profile_avatar_cdn == true  ? CDN_HOST : '' %}
                                {% set img_dir = order.profile_avatar_name %}
                                {% set img_file = (img_host is empty ? '/image.' : '/small.') ~ order.profile_avatar_ext %}
                                {% set image_path = img_host ~ img_dir ~ img_file %}
                            {% endif %}

                            <span class="icon rounded-circle bg-contain lazy p-1 mb-2 entered loaded"
                                  style="width: 43px; height: 43px; background-image: url('{{ image_path }}');"
                            ></span>
                        </div>


                        {% for user in users %}
                            <div class='d-flex flex-column small'>
                                <small class="small text-muted">{{ user.profile_name }}</small>
                                <span class="h5 {{ loop.first ? "fw-bolder" }} ">{{ user.profile_value|call_twig_func(user.profile_type~'_template') }}</span>
                            </div>
                        {% endfor %}

                    </div>

                {% endif %}

                {# ПРОДУКЦИЯ  #}

                <div class="d-flex flex-column gap-3 my-3">

                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="text-uppercase fw-bolder py-2">Продукция</h5>
                        <div class="small">
						<span class="me-3 pt-3"> Позиций: &nbsp;
							<span class="text-primary">
								{{ form.product.count }} {{ 'num_of_products'|trans({'count': form.product.count }, 'messages') }}
							</span>
						</span>
                        </div>
                    </div>

                    {# Запрет на изменение заказа (стоимости, количество и пр.)  #}
                    {% set isNotEdit =
                        order.order_status == 'package' or
                        order.order_status == 'extradition' or
                        order.order_status == 'delivery' or
                        order.order_status == 'completed' %}

                    <div class="border rounded-4 p-2" id="order-product-list" data-prototype='{{ include(_self|replace({ "content.html.twig": "form/products/product.prototype.html.twig" })) }}'>
                        {{ include(_self|replace({ "content.html.twig": "form/products/products.html.twig" })) }}
                    </div>

                    {% if isNotEdit == false %}

                        <a href="{{ path('orders-order:admin.order.add') }}"
                           class="btn btn-primary modal-link"
                           data-bs-toggle="modal"
                           data-bs-target="#modal"
                           title="Добавить в заказ"
                        >

                            <span class="svg-icon svg-icon-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none">
                                    <rect opacity="0.5" x="11" y="18" width="12" height="2" rx="1"
                                          transform="rotate(-90 11 18)" fill="currentColor"></rect>
                                    <rect x="6"
                                          y="11"
                                          width="12"
                                          height="2"
                                          rx="1"
                                          fill="currentColor"
                                    ></rect>
                                </svg>
                            </span>

                            Добавить в заказ

                        </a>

                    {% endif %}

                </div>


                {{ form_widget(form.comment, {  attr: { placeholder : 'Комментарий к заказу'} }) }}

            </div>


            <div class="tab-pane fade " id="pills-payment" role="tabpanel" tabindex="0">
                {{ include(_self|replace({ "content.html.twig": "form/payment.html.twig" })) }}
            </div>


            {# ОПЛАТА И ДОСТАВКА #}

            <div class="tab-pane fade " id="pills-delivery" role="tabpanel" tabindex="0">

                {{ include(_self|replace({ "content.html.twig": "form/delivery.html.twig" })) }}

                {% set address = order.delivery_geocode_address %}

                {% if address is null %}
                    {% for delivery_field in form.usr.delivery.field %}
                        {% if delivery_field.value.vars.label == 'Адрес доставки' %}
                            {% set address = delivery_field.value.vars.data %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

            </div>


            {# ИСТОРИЯ #}

            <div class="tab-pane fade" id="pills-history" role="tabpanel" tabindex="0">

                <div class="border rounded-4 p-2">
                    <table class="table table-striped table-borderless mb-0">

                        <thead>
                        <tr class="small">
                            <th>Статус</th>
                            <th>Дата</th>
                            <th>Время</th>
                            <th>Пользователь</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for hist in history %}

                            <tr>
                                <td>
                                    <span class="badge"
                                          style='background-color: {{ statuses.from(hist.status).getColor() }};'>{{ hist.status|trans({}, 'status.order') }}</span>
                                </td>
                                <td>{{ hist.mod_date|date('d.m.Y') }}</td>
                                <td>{{ hist.mod_date|date('H:i:s') }}</td>
                                <td>

                                    {% if loop.first %}
                                        {% for user in users|slice(0, 1) %}
                                            {{ user.profile_name }}
                                        {% endfor %}
                                    {% else %}
                                        {{ hist.profile_username }}
                                    {% endif %}

                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>

            </div>
        </div>

    </div>


    {% set total_summ_product = 0 %}
    {% set total_summ_currency = null %}

    {% for product in form.product %}

        {% set card = product.vars.data.card %}

        {% if card %}
            {% set summ = (product.price.vars.data.total * (product.price.vars.data.price.value * 100)) %}
            {% set total_summ_product = total_summ_product + summ %}
            {% set total_summ_currency = card.product_currency %}
        {% endif %}

    {% endfor %}


    <div class="w-100 d-flex justify-content-between align-items-center bg-light p-3 gap-3">

        <div class="w-100">
            <span class="small">Товаров на сумму: &nbsp;
                <span id='total_product_sum'>{{ money(total_summ_product, total_summ_currency) }}</span>
            </span>

            <div class="d-flex align-items-stretch">
                <span class="small me-3 pt-1">Итого:</span>
                <span id='total_all_sum'
                      class="fw-bolder mb-0 h3">{{ money(total_summ_product, total_summ_currency) }}</span>
            </div>
        </div>

    </div>


    <div class="w-100 d-flex justify-content-between align-items-center sticky-bottom bottom-0 bg-light p-3 gap-3">

        <div>
            {% if order.order_status != 'completed' %}
                {{ form_widget(form.order, { label: '
                    <span class="text-nowrap">'~ 'Сохранить изменения'|trans({}, 'core.btn') ~'</span>
                    <span class="spinner-border spinner-border-sm vertical-middle d-none"></span>
		        ', attr: { class: 'btn-danger', title : "Сохранить изменения" }
                }) }}
            {% endif %}
        </div>


        <div class="w-50 d-flex gap-3 align-items-end justify-content-end">

            <button type="button"
                    class="btn btn-light border text-secondary"
                    data-bs-dismiss="offcanvas"
                    title="Close">
                <span class="text-nowrap">Закрыть без изменений</span>
            </button>

        </div>
    </div>

    {{ form_end(form) }}

{% endif %}
