{% trans_default_domain 'admin.products.category' %}

<div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
    {{ form_start(form) }}
    <div class="modal-content p-3 border-bottom border-5 border-primary">
        <div class="modal-header">

            <h5 class="modal-title">
                {# Заголовок модального окна #}
                {{ 'Отправить заказ на упаковку'|trans }}

            </h5>

            <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                <span class="svg-icon svg-icon-2x"></span>
            </div>
        </div>

        <div class="modal-body" id="modal-body">


            {#{% for delivery in form.vars.data.users.delivery.field %}

                <div class="mb-3">
                    <a target="_blank" href="https://yandex.ru/maps/?text={{ delivery.value }}&z=18"
                       class="text-decoration-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                             class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                        </svg>
                        &nbsp;
                        {{ delivery.value }}
                    </a>
                </div>

            {% endfor %}#}


            {% if form.vars.data.warehouse %}



                {#<iframe
                        data-src="https://yandex.ru/maps/?rtext={{ form.vars.data.warehouse.option }}~{{ form.vars.data.users.delivery.latitude }},{{ form.vars.data.users.delivery.longitude }}&rtt=auto"
                        frameborder="0"
                        style="height: 300px;"
                        class="mb-3 w-100 d-none"
                        id="shipping_route"
                >

                </iframe>#}

                <div class="mb-3">
                    <a href="https://yandex.ru/maps/?rtext={{ form.vars.data.warehouse.option }}~{{ form.vars.data.users.delivery.latitude }},{{ form.vars.data.users.delivery.longitude }}&rtt=auto"
                       target="_blank"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                        </svg>

                        {{ form.vars.data.users.delivery.address }}

                    </a>

                    {% if form.vars.data.users.delivery.pickup %}
                        <span class="ms-3 badge bg-danger">Пункт выдачи заказов</span>
                    {% endif %}
                </div>
            {% endif %}


            {{ form_row(form.warehouse, {
                label: 'Склад для упаковки заказа', placeholder: 'Выберите ближайший Склад для упаковки заказа ...', attr: { 'data-select' : 'select2' }
            }) }}

            {% for product in form.product %}
                <div class="d-flex gap-3 align-items-center w-100">

                    {% set card = product.vars.data.card %}


                    {% set img_path = card.product_image_cdn == true ? CDN_HOST : '' %}
                    {% set product_image_ext = card.product_image_cdn == true ? 'small.'~card.product_image_ext : card.product_image_ext %}


                    {# ФОТО ПРОДУКТА  #}
                    <div>
                        <div class="icon rounded-4 mb-2 bg-contain p-1"
                             style="width: 75px; height: 75px; background-image: url('{{ card.product_image ? img_path ~ card.product_image ~ product_image_ext : '/assets/img/blank.svg' }}');"
                        ></div>
                    </div>

                    <div>
                        <strong>
                            {{ card.product_name }}

                            {# Значение торгового предложения #}
                            {{ card.product_offer_value|call_twig_func(card.product_offer_reference) }}

                            {# Значение множественного варианта ТП #}
                            {{ card.product_variation_value|call_twig_func(card.product_variation_reference) }}

                            {# Значение модификации множественного варианта ТП #}
                            {{ card.product_modification_value|call_twig_func(card.product_modification_reference) }}

                            {# Свойства, учавствующие в названии #}
                            {# {% for name_property in arr_property | filter(props => props.field_name == true) %}
                    {{ name_property.field_name|call_twig_func(name_property.field_type) }}
                {% endfor %} #}


                            {# {{ dump(product.vars.data) }}
                {{ dump(product.vars.data.price.total) }} #}


                        </strong>

                        &nbsp;

                        {# Количество в заказе #}
                        <strong class="text-primary">( {{ product.vars.data.price.total }} шт. )
                        </strong>

                        &nbsp;

                        {% if form.vars.data.users.delivery.pickup == false and product.vars.data.price.total > card.stock %}
                            <span class="text-danger">
                                {% if card.stock %}
                                    В наличии на складе <strong>{{ card.stock }}</strong> шт.
                                {% else %}
                                    Нет в наличии
                                {% endif %}
                            </span>

                            <div class="mt-1">


                                {# {% for move in form.move %}
                                    {{ dump(move) }}
                                {% endfor %}
                                #}


                                {# Перемещение  #}
                                {% if product.move %}

                                    {% for move_product in product.move.product %}
                                        {{ form_row(move_product.product) }}
                                        {{ form_row(move_product.offer) }}
                                        {{ form_row(move_product.variation) }}
                                        {{ form_row(move_product.modification) }}

                                    {% endfor %}

                                    {#{{ dump(product.vars.data) }}#}

                                    <div class="d-flex gap-3 align-items-center">
                                        {% if product.move.warehouse is defined %}

                                            <span>Переместить недостоток {{ (product.vars.data.price.total - card.stock) }} шт. со склада:</span>

                                            <div class="w-50">
                                                {{ form_widget(product.move.warehouse, {
                                                    placeholder: 'Выберите целевой Склад для перемещения ...', attr: { 'data-select' : 'select2' }
                                                }) }}
                                            </div>

                                        {% else %}
                                            <span class="text-danger">
                                            Нет в наличии для перемещения
                                        </span>
                                        {% endif %}
                                    </div>



                                    {{ form_row(product.move.move.destination ) }}

                                {% endif %}


                            </div>
                        {% else %}

                            {% if card.stock %}
                                &nbsp; <span class="text-success">В наличии  <strong>{{ card.stock }}</strong> шт. </span>
                            {% else %}
                                <span class="text-danger">Нет в наличии</span>
                            {% endif %}

                        {% endif %}


                    </div>

                </div>


            {% endfor %}

        </div>


        <div class="modal-footer">
            {# Отмена #}

            <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                {{ 'btn.cancel'|trans({}, 'core.btn') }}
            </button>


            {# Удалить #}
            {{ form_widget(form.package, { label: '
				<span>'~ 'btn.save'|trans({}, 'core.btn') ~'</span>
				<span class="spinner-border spinner-border-sm vertical-middle d-none"></span>
			'}) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>


{#{{ dump(form.vars.data) }}#}
{# {{ dump(form.vars.data.users.delivery.geocode.attr.longitude) }}
{{ dump(form.vars.data.users.delivery.geocode.attr.latitude) }}
{{ dump(form.vars.data.users.delivery.geocode.attr.address) }}
{{ dd(form.vars.data.warehouse) }} #}
