{% trans_default_domain('user.status') %}

    {% set products = order.order_products|json_decode %}

<div class="border px-4 py-2 rounded-4 mb-3">

    {% set priceTotal = null %}
    {% set productTotal = null %}
    {% set productCurrency = null %}

    {# ИНФОРМАЦИЯ О ПРОДУКТАХ В ЗАКАЗЕ #}
    {% for product in products %}

        {% if loop.first == true %}

            <div class="d-flex align-items-center justify-content-between mb-2 gap-2 accordion">

                <div class="d-flex align-items-center gap-2">
                    <button class="accordion-button btn-sm border-0 shadow-none bg-body p-0 collapsed collapse-link-content"
                            style=""
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapse{{ order.order_id }}"
                            data-container="collapse{{ order.order_id }}"

                            data-href="{{ path('orders-order:user.orders.detail', { id: order.order_id }) }}"
                            aria-expanded="false">

                        <span class="fs-18 mb-0 text-uppercase fw-bold me-2 text-decoration-underline"
                              title="Пoказать детали"> Заказ № {{ order.order_number }} | {{ ('public_' ~order.order_status)|trans({}, 'status.order') }}</span>

                    </button>
                </div>

                <div class="d-flex align-items-center gap-2">
            <span class="text-secondary">
                {{ order.payment_name }} | {{ order.delivery_name }}
            </span>

                    {% if order.order_status == 'completed' %}
                        {{ include (_self|replace({ "products.html.twig" : "docs.html.twig" }), { 'order_id': order.order_id }, with_context = false) }}
                    {% endif %}

                </div>

            </div>

        {% endif %}


        {# содержимое контейнера для отображения товаров #}
        <div id="collapse{{ order.order_id }}"
             class="card-body fw-normal mb-0 accordion-collapse collapse"
             data-bs-parent="#accordionPackage">
        </div>


        {% set priceTotal = priceTotal + product.product_price %}
        {% set productTotal = productTotal + product.product_total %}
        {% set productCurrency = product.product_price_currency %}

    {% endfor %}

    <div class="d-flex align-items-center justify-content-end py-2 gap-5">

        <div class="d-flex gap-5">

            <p class="fs-18 mb-0 fw-bold" style="width:90px;">
                {{ money(priceTotal, productCurrency) }}
            </p>

            <p class="fs-18 mb-0 fw-bold" style="width:90px;">
                {{ productTotal }} шт.
            </p>
        </div>

    </div>

</div>

